<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>nobody</string>
	<key>HardResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>io.prometheus.kasa_exporter</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>/usr/local/bin/kasa_exporter $(&lt; /usr/local/etc/kasa_exporter.args)</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>4096</integer>
	</dict>
	<key>StandardErrorPath</key>
	<string>/tmp/kasa_exporter.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/kasa_exporter.log</string>
	<key>UserName</key>
	<string>nobody</string>
	<key>WorkingDirectory</key>
	<string>/usr/local</string>
</dict>
</plist>
